h1.heading-title {
    margin-top:-85px;
    margin-bottom:40px;
    font-size:5em;
    color:white;
    font-weight:900;
    text-shadow:-1px -1px 0 #000000, 1px -1px 0 #000000, 1px 1px 0 #000000, -1px 1px 0 #000000;
}
